<h1>Welcome to Jungle Dashboard</h1>
<section class="admin-products-index">
  <h3><%= link_to "Categories " ,[:admin, :categories] %> (<%= @category_count %>)</h3>
  <h3><%= link_to "Products " , [:admin, :products] %> (<%= @product_count %>) </h3>
<section>