<header class="page-header">
    <h1>About Us</h1>
 </header>

  <table>
    <tr>
      <td style="width=50%">
        <div style="display:flex, justify-content:center">
          <img src = "about-us.png" style=""></img>
        </div>
      </td>
      <td style="width=50%">
        <div>
          <h1>Welcome to Jungle</h1>
          <p class="mt-5">
            A very short summary about Jungle.We currently have <%=@product%> to see all available product , please click on  <%= link_to  'Home', [:root] %> 
          </p>
          <p class="mt-2"><strong>There is more about us. Keep vsiting!!</strong></p>
        </div>
      <td>
    </tr>
  </table>

